server {
    listen 80;
    server_name {{ zammad_domain }};

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://{{ zammad_domain }}$request_uri? permanent;
    }
}
